### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [73]:
purchase_data["SN"].nunique
Total_players = len(purchase_data["SN"].unique())

Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
purchase_data.head()
Unique_items = purchase_data1["Item ID"].nunique()
Average_Price = purchase_data1["Price"].mean()
Number_of_Purchases = purchase_data1["Item ID"].count()
Total_Revenue = purchase_data1["Price"].sum()

Purchase_analysis = pd.DataFrame(
    {"Number of Unique Items":[Unique_items],
     "Average_Price":[Average_Price],
     "Number_of_Purchases":[Number_of_Purchases],
     "Total_Revenue": [Total_Revenue]})

Purchase_analysis

   Number of Unique Items  Average_Price  Number_of_Purchases  Total_Revenue
0                     183       3.050987                  780        2379.77

In [92]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [101]:

Male_players = purchase_data[purchase_data["Gender"]=="Male"]["SN"].nunique()
Female_players = purchase_data[purchase_data["Gender"]=="Female"]["SN"].nunique()
Other_players = purchase_data[purchase_data["Gender"]=="Other/Non-Disclosed"]["SN"].nunique()

Male_perc = ((Male_players/Total_players)*100)
Female_perc = ((Female_players/Total_players)*100)
Other_perc = ((Other_players/Total_players)*100)




NResult_df = pd.DataFrame({"Gender": ["Male", "Female", 
                                      "Other / Non-Disclosed"], 
                           "Percentage of Players": [Male_perc, 
                                                     Female_perc, 
                                                     Other_perc],
                           "Total Count": [Male_players, 
                                           Female_players, 
                                           Other_players]})


NResult_df

                  Gender  Percentage of Players  Total Count
0                   Male              84.027778          484
1                 Female              14.062500           81
2  Other / Non-Disclosed               0.000000            0

## Gender Demographics


* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [103]:

NResult_df.head()

                  Gender  Percentage of Players  Total Count
0                   Male              84.027778          484
1                 Female              14.062500           81
2  Other / Non-Disclosed               0.000000            0

In [104]:
#Purchasing Analysis Gender

#Purchase count
Male_pur= purchase_data[purchase_data["Gender"]=="Male"]["Price"].count()
Female_pur= purchase_data[purchase_data["Gender"]=="Female"]["Price"].count()
Other_pur= purchase_data[purchase_data["Gender"]=="Other/Non-Disclosed"]["Price"].count()

#Average count

Ave_Male_pur= purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
Ave_Female_pur= purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
Ave_Other_pur= purchase_data[purchase_data["Gender"] == "Other/Non-Disclosed"]["Price"].mean()

#Total count

Total_Male_pur= purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
Total_Female_pur= purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
Total_Other_pur= purchase_data[purchase_data["Gender"] == "Other/Non-Disclosed"]["Price"].sum()

#Ave Total PP

Ave_Tot_Male_PP = Total_Male_pur/Male_pur
Ave_Tot_Female_PP = Total_Female_pur/Female_pur
Ave_Tot_Other_PP = Total_Other_pur/Other_pur

Gender_Analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [Male_pur, Female_pur, Other_pur],
                                        "Average Purchase Price": [Ave_Male_pur, Ave_Female_pur, Ave_Other_pur], "Total Purchase Value": [Total_Male_pur, Total_Female_pur, Total_Other_pur],
                                "Average Total Per Person": [Total_Male_pur, Total_Female_pur, Total_Other_pur]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
Gender_Analysis

/Users/justinmcspadden/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in double_scalars

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Male,652,3.017853,1967.64,NaN
1,Female,113,3.203009,361.94,NaN
2,Other / Non-Disclosed,0,NaN,0.00,NaN


## Purchasing Analysis (Gender)

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Age Demographics

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [114]:
#Age Demographics

#look for unique info using. nunique
ten_under = purchase_data[purchase_data["Age"] <10]["SN"].nunique()
ten_up = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]["SN"].nunique()
fifteen_up = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]["SN"].nunique()
twenty_up = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]["SN"].nunique()
twentyfive_up = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]["SN"].nunique()
thirty_up = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]["SN"].nunique()
thirty_five_up = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]["SN"].nunique()
forty_up = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=49)]["SN"].nunique()

#Purch
c_ten_under = purchase_data[purchase_data["Age"] <10]["Price"].count()
c_ten_up = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]["Price"].count()
c_fifteen_up = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]["Price"].count()
c_twenty_up = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]["Price"].count()
c_twentyfive_up = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]["Price"].count()
c_thirty_up = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]["Price"].count()
c_thirty_five_up = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]["Price"].count()
c_forty_up = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=49)]["Price"].count()

#Ave Purch 
a_ten_under = purchase_data[purchase_data["Age"] <10]["Price"].mean()
a_ten_up = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]["Price"].mean()
a_fifteen_up = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]["Price"].mean()
a_twenty_up = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]["Price"].mean()
a_twentyfive_up = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]["Price"].mean()
a_thirty_up = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]["Price"].mean()
a_thirty_five_up = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]["Price"].mean()
a_forty_up = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=49)]["Price"].mean()

#Tot Purch Value
t_ten_under = purchase_data[purchase_data["Age"] <10]["Price"].sum()
t_ten_up = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]["Price"].sum()
t_fifteen_up = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]["Price"].sum()
t_twenty_up = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]["Price"].sum()
t_twentyfive_up = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]["Price"].sum()
t_thirty_up = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]["Price"].sum()
t_thirty_five_up = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]["Price"].sum()
t_forty_up = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=49)]["Price"].sum()


n_ten_under = t_ten_under/ten_under
n_ten_up = t_ten_up/ten_up
n_fifteen_up = t_fifteen_up/fifteen_up
n_twenty_up = t_twenty_up/twenty_up
n_twentyfive_up = t_twentyfive_up/twentyfive_up
n_thirty_up = t_thirty_up/thirty_up
n_thirty_five_up = t_thirty_five_up/thirty_five_up
n_forty_up = t_forty_up/forty_up

a_demographic_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+", ],
                                 "Total Count": [ten_under, ten_up, fifteen_up, twenty_up, twentyfive_up, thirty_up, thirty_five_up, forty_up,],
                                "Percentage of Players": [(ten_under/Total_players)*100, (ten_up/Total_players)*100, (fifteen_up/Total_players)*100, (twenty_up/Total_players)*100, (twentyfive_up/Total_players)*100, (thirty_up/Total_players)*100, (thirty_five_up/Total_players)*100, (forty_up/Total_players)*100],
                        
                       })
a_demographic_df

     Age  Total Count  Percentage of Players
0    <10           17               2.951389
1  10-14           22               3.819444
2  15-19          107              18.576389
3  20-24          258              44.791667
4  25-29           77              13.368056
5  30-34           52               9.027778
6  35-39           31               5.381944
7    40+           12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [186]:
demographic_age_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
"Purchase Count": [c_ten_under, c_ten_up, c_fifteen_up, c_twenty_up, c_twentyfive_up, c_thirty_up, c_thirty_five_up, c_forty_up],
"Average Purchase Price": [a_ten_under, a_ten_up, a_fifteen_up, a_twenty_up, a_twentyfive_up, a_thirty_up, a_thirty_five_up, a_forty_up],
"Total Purchase Value": [t_ten_under, t_ten_up, t_fifteen_up, t_twenty_up, t_twentyfive_up, t_thirty_up, t_thirty_five_up, t_forty_up],
"Avg Total Purchase per Person": [n_ten_under, n_ten_up, n_fifteen_up, n_twenty_up, n_twentyfive_up, n_thirty_up, n_thirty_five_up, n_forty_up]                                   
                       },columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])
demographic_age_df

,Age,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [187]:
total_Spent = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())
purchases_made = pd.DataFrame(purchase_data.groupby('SN')['Price'].count())
ave_price_spent = pd.DataFrame(purchase_data.groupby('SN')['Price'].mean())
top = pd.merge(total_Spent, purchases_made, left_index = True, right_index = True).merge(ave_price_spent, left_index=True, right_index=True)
top.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)
top.sort_values('Total Purchase Value', ascending = False, inplace=True)
top.head(5)

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Lisosia93                   18.96               5                3.792000
Idastidru52                 15.45               4                3.862500
Chamjask73                  13.83               3                4.610000
Iral74                      13.62               4                3.405000
Iskadarya95                 13.10               3                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [166]:
pd.DataFrame

pandas.core.frame.DataFrame

In [191]:
#Create new DataFrame with Popular Items data
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_items
#Group by Item ID and Item Name
popular_items_group = popular_items.groupby(["Item ID", "Item Name"])
#Create variabel to count how many times an item has been purchased
purchase_count_pop = popular_items_group["Price"].count()
#Create a variable to determine the value of each item
purchase_value_pop = popular_items_group["Price"].unique()
#Create a variable to determine the individual price per item
popular_price = purchase_value_pop * purchase_count_pop
#Build DataFrame 
popular_df = pd.DataFrame({"Purchase Count": purchase_count_pop, "Item Price": purchase_value_pop, "Total Purchase Value": popular_price})
#Place the purchase count column in Decending order
popular_df = popular_df.sort_values(["Purchase Count"], ascending=False)
# Format / Clean table as needed
popular_df["Total Purchase Value"] = popular_df["Total Purchase Value"].astype(float).map('${:.2f}'.format)
popular_df["Item Price"] = popular_df["Item Price"].astype(float).map('${:.2f}'.format)

popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [192]:
#Set variable for the Popular Items DF
profitable_df = popular_df
#Set the "Purchase Count" Column to sort by descending order
profitable_df = profitable_df.sort_values(["Purchase Count"], ascending=False)
profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
60,Wolf,8,$3.54,$28.32