### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [73]:
purchase_data["SN"].nunique
Total_players = len(purchase_data["SN"].unique())

Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
purchase_data.head()
Unique_items = purchase_data1["Item ID"].nunique()
Average_Price = purchase_data1["Price"].mean()
Number_of_Purchases = purchase_data1["Item ID"].count()
Total_Revenue = purchase_data1["Price"].sum()

Purchase_analysis = pd.DataFrame(
    {"Number of Unique Items":[Unique_items],
     "Average_Price":[Average_Price],
     "Number_of_Purchases":[Number_of_Purchases],
     "Total_Revenue": [Total_Revenue]})

Purchase_analysis

   Number of Unique Items  Average_Price  Number_of_Purchases  Total_Revenue
0                     183       3.050987                  780        2379.77

In [92]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [101]:

Male_players = purchase_data[purchase_data["Gender"]=="Male"]["SN"].nunique()
Female_players = purchase_data[purchase_data["Gender"]=="Female"]["SN"].nunique()
Other_players = purchase_data[purchase_data["Gender"]=="Other/Non-Disclosed"]["SN"].nunique()

Male_perc = ((Male_players/Total_players)*100)
Female_perc = ((Female_players/Total_players)*100)
Other_perc = ((Other_players/Total_players)*100)




NResult_df = pd.DataFrame({"Gender": ["Male", "Female", 
                                      "Other / Non-Disclosed"], 
                           "Percentage of Players": [Male_perc, 
                                                     Female_perc, 
                                                     Other_perc],
                           "Total Count": [Male_players, 
                                           Female_players, 
                                           Other_players]})


NResult_df

                  Gender  Percentage of Players  Total Count
0                   Male              84.027778          484
1                 Female              14.062500           81
2  Other / Non-Disclosed               0.000000            0

## Gender Demographics


* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [103]:

NResult_df.head()

                  Gender  Percentage of Players  Total Count
0                   Male              84.027778          484
1                 Female              14.062500           81
2  Other / Non-Disclosed               0.000000            0

In [104]:
#Purchasing Analysis Gender

#Purchase count
Male_pur= purchase_data[purchase_data["Gender"]=="Male"]["Price"].count()
Female_pur= purchase_data[purchase_data["Gender"]=="Female"]["Price"].count()
Other_pur= purchase_data[purchase_data["Gender"]=="Other/Non-Disclosed"]["Price"].count()

#Average count

Ave_Male_pur= purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
Ave_Female_pur= purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
Ave_Other_pur= purchase_data[purchase_data["Gender"] == "Other/Non-Disclosed"]["Price"].mean()

#Total count

Total_Male_pur= purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
Total_Female_pur= purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
Total_Other_pur= purchase_data[purchase_data["Gender"] == "Other/Non-Disclosed"]["Price"].sum()

#Ave Total PP

Ave_Tot_Male_PP = Total_Male_pur/Male_pur
Ave_Tot_Female_PP = Total_Female_pur/Female_pur
Ave_Tot_Other_PP = Total_Other_pur/Other_pur

Gender_Analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [Male_pur, Female_pur, Other_pur],
                                        "Average Purchase Price": [Ave_Male_pur, Ave_Female_pur, Ave_Other_pur], "Total Purchase Value": [Total_Male_pur, Total_Female_pur, Total_Other_pur],
                                "Average Total Per Person": [Total_Male_pur, Total_Female_pur, Total_Other_pur]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
Gender_Analysis

/Users/justinmcspadden/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in double_scalars

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Male,652,3.017853,1967.64,NaN
1,Female,113,3.203009,361.94,NaN
2,Other / Non-Disclosed,0,NaN,0.00,NaN


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame